BREVO_API_KEY=your_brevo_api_key
BREVO_LIST_ID=12
BREVO_SENDER_EMAIL=no-reply@twojadomena.pl
BREVO_SENDER_NAME=webeiilin
BREVO_REPLY_TO_EMAIL=hello@twojadomena.pl
BREVO_REPLY_TO_NAME=webeiilin
BREVO_THANK_YOU_SUBJECT=You're on the list - webeiilin
BREVO_INSTAGRAM_URL=https://instagram.com/webeiilin
BREVO_LOGO_URL=https://webeiilin.com/webeillin%20(1).png
BREVO_UNSUBSCRIBE_URL=https://webeiilin.com/unsubscribe
